<div class="login-container">
    <form>
        <div class="mb-3 center">
            <label for="exampleInputEmail1" class="form-label">Ingrese su Usuario</label>
            <input type="email" class="form-control" id="exampleInputEmail1">
        </div>
        <div class="mb-3 center">
            <label for="exampleInputPassword1" class="form-label">Ingrese su contraseña</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <button type="submit" class="btn btn-primary" routerLink="/listadoPersona/">Iniciar Sesion</button>
    </form>
</div>